# Only enable and change or add lookup data when you need to change the defaults!
#munin:
#  lookup:
#    master:
#      config_src: 'salt://munin/files/my-munin.conf',
#    node:
#      config_src: 'salt://munin/files/my-munin-node.conf',
#    tls:
#      private_key: '/etc/ssl/private/munin/key.pem'

munin_master:
  globals:
    dbdir: "/var/lib/munin"
    htmldir: "/var/cache/munin/www"
    logdir: "/var/log/munin"
    rundir: "/var/run/munin"
    includedir: "/etc/munin/munin-conf.d"
  hosts:
    "localhost.localdomain":
      address: "127.0.0.1"
      use_node_name: "no"
  # In case you need additional variables
  formula_append: |
    some_variable value

munin_node:
  log_level: 4
  log_file: "/var/log/munin/munin-node.log"
  pid_file: "/var/run/munin/munin-node.pid"
  background: 1
  setsid: 1
  user: root
  group: root
  ignore_file:
    - "[\\#~]$"
    - "DEADJOE$"
    - "\\.bak$"
    - "%$"
    - "\\.dpkg-(tmp|new|old|dist)$"
    - "\\.rpm(save|new)$"
    - "\\.pod$"
  host_name: {{ grains['host'] }}
  allow:
    - "^127\\.0\\.0\\.1$"
    - "^::1$"
  host: "*"
  port: 4949

munin_tls:
  private_pem: |
    -----BEGIN RSA PRIVATE KEY-----
    Inline key here
    -----END RSA PRIVATE KEY-----
  certificate_pem: |
    -----BEGIN CERTIFICATE-----
    Inline certificate key
    -----END CERTIFICATE-----
  ca_certificate_pem: |
    -----BEGIN CERTIFICATE-----
    Inline CA certificate key
    -----END CERTIFICATE-----

munin_node_common_plugins:
  cpu: cpu
  df: df 
  memory: memory
  uptime: uptime
  users: users
  load: load
  if_eth0: if_

munin_node_specific_plugins:
  example_server_01:
    cpuspeed: cpuspeed
  example_server_02:
    irqstats: irqstats
