{% set munin_master = salt['grains.filter_by']({
    'Debian': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
    },
    'RedHat': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
    },
    'Arch': {
        'package': 'munin',
        'config': '/etc/munin/munin.conf',
        'config_src': 'salt://munin/files/munin.conf',
    },
}, merge=salt['pillar.get']('munin_master:lookup')) %}

{% set munin_node = salt['grains.filter_by']({
    'Debian': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
    },
    'RedHat': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
    },
    'Arch': {
        'package': 'munin-node',
        'service': 'munin-node',
        'config': '/etc/munin/munin-node.conf',
        'config_src': 'salt://munin/files/munin-node.conf',
    },
}, merge=salt['pillar.get']('munin_node:lookup')) %}

{% set net_ssleay = salt['grains.filter_by']({
    'Debian': {
        'package': 'libnet-ssleay-perl',
    },
    'RedHat': {
        'package': 'perl-Net-SSLeay',
    },
}, merge=salt['pillar.get']('net_ssleay:lookup')) %}

{% set munin_tls = salt['grains.filter_by']({
    'Debian': {
        'private_key': '/etc/munin/tls/key.pem',
        'certificate': '/etc/munin/tls/crt.pem',
        'ca_certificate': '/etc/munin/tls/cacert.pem',
    },
    'RedHat': {
        'private_key': '/etc/munin/tls/key.pem',
        'certificate': '/etc/munin/tls/crt.pem',
        'ca_certificate': '/etc/munin/tls/cacert.pem',
    },
}, merge=salt['pillar.get']('munin_tls:lookup')) %}
